<div id="<%= dom_id interimagence %>">
  <p>
    <strong>Name:</strong>
    <%= interimagence.name %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= interimagence.lat %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= interimagence.lon %>
  </p>

</div>
