<% content_for :title, "Editing interimagence" %>

<h1>Editing interimagence</h1>

<%= render "form", interimagence: @interimagence %>

<br>

<div>
  <%= link_to "Show this interimagence", @interimagence %> |
  <%= link_to "Back to interimagences", interimagences_path %>
</div>
