<% content_for :title, "New interimagence" %>

<h1>New interimagence</h1>

<%= render "form", interimagence: @interimagence %>

<br>

<div>
  <%= link_to "Back to interimagences", interimagences_path %>
</div>
