<div id="<%= dom_id publiqueinstitution %>">
  <p>
    <strong>Name:</strong>
    <%= publiqueinstitution.name %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= publiqueinstitution.lat %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= publiqueinstitution.lon %>
  </p>

</div>
