<% content_for :title, "New publiqueinstitution" %>

<h1>New publiqueinstitution</h1>

<%= render "form", publiqueinstitution: @publiqueinstitution %>

<br>

<div>
  <%= link_to "Back to publiqueinstitutions", publiqueinstitutions_path %>
</div>
