<div id="<%= dom_id plateformedemploi %>">
  <p>
    <strong>Name:</strong>
    <%= plateformedemploi.name %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= plateformedemploi.lat %>
  </p>

  <p>
    <strong>Lon:</strong>
    <%= plateformedemploi.lon %>
  </p>

</div>
