<% content_for :title, "Editing plateformedemploi" %>

<h1>Editing plateformedemploi</h1>

<%= render "form", plateformedemploi: @plateformedemploi %>

<br>

<div>
  <%= link_to "Show this plateformedemploi", @plateformedemploi %> |
  <%= link_to "Back to plateformedemplois", plateformedemplois_path %>
</div>
