<p style="color: green"><%= notice %></p>

<% content_for :title, "Plateformedemplois" %>

<h1>Plateformedemplois</h1>

<div id="plateformedemplois">
  <% @plateformedemplois.each do |plateformedemploi| %>
    <%= render plateformedemploi %>
    <p>
      <%= link_to "Show this plateformedemploi", plateformedemploi %>
    </p>
  <% end %>
</div>

<%= link_to "New plateformedemploi", new_plateformedemploi_path %>
