<% content_for :title, "New plateformedemploi" %>

<h1>New plateformedemploi</h1>

<%= render "form", plateformedemploi: @plateformedemploi %>

<br>

<div>
  <%= link_to "Back to plateformedemplois", plateformedemplois_path %>
</div>
